groupe4_cansat/_xmsgs/bitgen.xmsgs
*.html
groupe4_cansat/top.bgn
*.gise
*.bld
*.cmd_log
*.drc
*.lso
groupe4_cansat/top_pad.csv
*.bit
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
top_pad.txt
*.xrpt
*.log

*.xmsgs
groupe4_cansat/_xmsgs/pn_parser.xmsgs
groupe4_cansat/_ngo/netlist.lst
*.xbcd
*.xmsgs
*.log
*.cmd
groupe4_cansat/output.txt
*.xmsgs
*.projectmgr
*.xreport
*.vdbl
*.vdbx
groupe4_cansat/groupe4_cansat.xise
groupe4_cansat/webtalk_pn.xml
groupe4_cansat/webtalk_impact.xml
groupe4_cansat/top_usage.xml
groupe4_cansat/top_summary.xml
groupe4_cansat/_impact.log
groupe4_cansat/_impact.cmd
groupe4_cansat/xlnx_auto_0_xdb/cst.xbcd
groupe4_cansat/_ngo/netlist.lst
groupe4_cansat/_xmsgs/map.xmsgs~Stashed changes
groupe4_cansat/_xmsgs/par.xmsgs~Stashed changes
