groupe4_cansat/_xmsgs/bitgen.xmsgs
*.html
groupe4_cansat/top.bgn
*.gise
*.bld
*.cmd_log
*.drc
*.lso
groupe4_cansat/top_pad.csv
*.bit
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
top_pad.txt
*.xrpt
*.log

